<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<false/>
	<key>Label</key>
	<string>org.smm.NodeStart</string>
	<key>ProgramArguments</key>
	<array>
		<string>osascript</string>
		<string>-e</string>
		<string>delay 5</string>
		<string>-e</string>
		<string>tell application "Terminal" to do script "cd ~/Desktop/fluidPower/nodeSource; node wsServer.js"</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/org.smm.NodeStart.stderr</string>
	<key>StandardOutPath</key>
	<string>/tmp/org.smm.NodeStart.stdout</string>
</dict>
</plist>
