html, body {
	margin: 0px;
	color: #fff;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	width:100%;
	height:100%;
}

div.body {
	width: 100%;
	margin: 0 auto;
	height:100%;
	background-color: #333;
	text-align: center;
}

.buttons{
	padding: 10px 0;
	text-align: right;
}

.trace2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1000;
}

.graphCont {
	float: left;
	width:49.25%;
	height:88%;
	text-align: center;
}

.divider {
	background-color: #333;
	float: left;
	width:.5%;
	height:88%;
	text-align: center;
}

#warmCont {
	background-color: #b78;
}

#coolCont {
	background-color: #79b;
}

#title {
	text-align: center;
	background-color:#333;
	color:#ddd;
	font-size: 3vh;
	width: 100%;
	line-height: 100%;
	height:10%;
	border: 2px solid black;
}


.trace {
	display: block;
	width:90%;
	height:50%;
	margin:0 auto;
}

.temp {
	display: block;
	width:75%;
	height:12.5%;
	margin:0 auto;
}

#button {
    background-color: #E25;
    color:#000;
    font-size: 400%;
    display: inline-block;
    height:200px;
    position: absolute;
}

#button:active {
    background-color: #2e9;
}

#score {
	color:black;
	padding:10px;
	width: 100%;
	height: 120px;
	font-size:72pt;
	text-align:center;
}

#footer
{
    clear: both;
    width:100%;
    color:#777;
    font-size:24pt;
	text-align:center;
}

